<br />
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-offset-4 col-md-4">
            <div class="well" >
                <div *ngIf="!resultMessage">
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                </div>
                <label>Email</label>
                <input class="form-control" type="email" [(ngModel)]="user.login"  >
                <br/>
                <label>Email</label>
                <input class="form-control" [(ngModel)]="user.password" type="password" >
                <hr />
                <input type="button" class="btn btn-lg btn-success btn-block" value="Entrar" (click)="entrar($event)">
            </div>
        </div>
    </div>
</div>
<br/>
<div align='center'>
    <h4>Roles</h4>
    <span>Administrador: admin@tektonlabs.com , password: 123</span><br/>
    <span>Invitado: postulante@tektonlabs.com , password: 123</span>
</div>


